body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cac1c1; /* Light gray background */
  color: #333; /* Dark gray text */
}

.container {
  width: 70%; /* Set width to 70% of the viewport */
  margin: 50px auto; /* Center the container horizontally */
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

h1 {
  color: #1976d2; /* Bright blue text */
}

.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.add-expense-form {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #1976d2; /* Bright blue */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #1565c0; /* Darker shade of blue on hover */
}

.btn-outline-primary {
  background-color: transparent;
  color: #1976d2; /* Bright blue */
  border: 1px solid #1976d2; /* Bright blue border */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-outline-primary:hover {
  background-color: #1976d2; /* Bright blue */
  color: #ffffff;
}

.btn-outline-danger {
  background-color: transparent;
  color: #d32f2f; /* Dark red */
  border: 1px solid #d32f2f; /* Dark red border */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-outline-danger:hover {
  background-color: #d32f2f; /* Dark red */
  color: #ffffff;
}

.btn-outline-success {
  background-color: transparent;
  color: #388e3c; /* Dark green */
  border: 1px solid #388e3c; /* Dark green border */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-outline-success:hover {
  background-color: #388e3c; /* Dark green */
  color: #ffffff;
}
